doctype 5
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title Take me Sharing!

    meta(property='og:title', content='Take me Sharing!')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://takemesharing.com/images/og.jpg')
    meta(property='og:url', content='http://takemesharing.com/')
    meta(property='og:description', content='One Click takes you to a random amazing website where you can share with others!')

    link(rel='stylesheet', type='text/css', href='/styles/screen.css')
    script !{partial('links.txt.coffee', feedr.feeds)}
    script(src='/scripts/main.js')

  body
    #content !{content}
